body {
    width: 99%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 980px;
    color: black;
}

#js-weather {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 30px;
    text-align: left;
    top: 0;
    left: 0;
}

#todolist {
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
    width: 300px;
    height: 200px;
}

#total {
    position: relative;
    top: 300px;
    width: 500px;
    margin: 0 auto;
    color: white;
}

#now {
    font-size: 90px;
    font-weight: bold;
}

#setname {
    border: none;
    background-color: transparent;
    font-size: 40px;
    margin: 0 auto;
    width: 380px;
    color: white;
}

#pc {
    font-size: 40px;
    margin-top: 0px;
}

input:focus {
    outline: none;
}

#todo {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#image2 {
    position: absolute;
}

#submit,
#default {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#back2 {
    width: 100%;
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#back2-1 {
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.backimage {
    float: left;
    width: 20%;
    height: 100%;
}

#left {
    position: absolute;
    top: 800px;
    z-index: 100;
    left: 5%;
    font-size: 60px;
    color: red;

}

#right {
    position: absolute;
    top: 800px;
    z-index: 100;
    left: 90%;
    font-size: 60px;
    color: blue;
}

#left:hover {
    color: yellow;
}

#right:hover {
    color: aqua;
}

#radiobox {
    font-weight: bold;
    font-size: 20px;
}
